*{
margin: 0;
padding: 0;
font-family: nunito;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: beige;
}
#main_div{
    padding: 15px;
    min-height: 150px;
   width: 320px;
    background-color: white;
    border-radius: 15px;
    
}
h3{
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    font-weight: 850;
}
span{
    color: #e855386f;
}
#input_field{
width: 90%;
height: 42px;
background: rgba(128, 128, 128, 0.129);
margin: 10px auto;
border-radius: 100px;
display: flex;
justify-content: space-between;
}

#input{
    height: 26px;
    min-width: auto;
    border: none;
    background-color: transparent;
    border-radius: 100px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 700;

}
#input:focus{
   outline: none;
}
#add{
    height: 100%;
    width: 90px;
    border: none;
    background-color: #E85638;
    border-radius: 100px;
    font-weight: 700;
    transition: all;
    transition-duration: 1s;
}
#add:hover{
    cursor: pointer;
    background-color: #e85538b5;
}
#add:hover{
    cursor: pointer;
    background-color: #e8553883;
    
}
.list{
    width: 80%;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
    margin: 5px auto;
   
    border-radius:10px;
}
.checkbox{
    background-color: beige;
    border-radius: 100%;
}
.task{
font-weight: 600;
color: rgba(0, 0, 0, 0.686);
}
.remove{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    transition: all;
    transition-duration: 0.3s;
}
.remove:hover{
    background-color: rgba(128, 128, 128, 0.227);
 cursor: pointer;
    border-radius: 100%;
}
